main {
    margin: 0 auto;
    align-items: center;
    max-width: 600px;
    form {
        text-align: center;
        margin-top: 30px;
        & input {
            padding: 15px;
            margin-top: 15px;
            border-radius: 10px;
            border: none;
            opacity: 0.9;
            cursor: pointer;
            letter-spacing: 1.5px;
            &:hover {
                opacity: 1;
                transition: 150ms ease-out;
            }
        }
        .button-input {
            padding: 15px;
            border-radius: 10px;
            border: none;
            margin-left: 10px;
            cursor: pointer;
            letter-spacing: 1.5px;
            font-size: 14px;
            background: white;
            opacity: 0.9;
            &:active {
                transition: 200ms ease-out;
                transform: scale(0.95);
                opacity: 1;
            }
        }
    }
}
.container-weather {
    margin: 0;
    font-size: 18px;
    .humidity {
        @include box-shadow;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 140px;
        margin-right: auto;
        margin-left: auto;
    }
    .middle {
        .align-temp {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            .vertical-temp {
               flex-direction: column;
               display: flex;
               text-align: center;
               @include box-shadow;
            }
        }
    }
    .top {
        .contain-temp-bloc {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
        }
        .temp_pict {
            .city-temp {
                font-size: 26px;
                font-weight: 900;
                text-align: center;
                padding-right: 10px;
                margin-bottom: 10px;
                letter-spacing: 1.5px;
                margin-top: 25px;
            }
            .temp-actually {
                font-size: 64px;
                font-weight: 900;
                text-align: center;
            }
            .top-corner {
                text-align: center;
            }
        }
    }
}
.contain-icon {
    text-align: center;
    .icon {
        width: 80px;
        height: 80px;
    }
}
.form {
    text-align: center;
    margin-top: 15px;
}
.temp-max, .temp-min {
    @include box-shadow;
}

.contain-loading {
    display: flex;
    margin-top: 30px;
    img {
    margin-right: auto;
    margin-left: auto;
    width: 165px;
    }
}
.bottom {
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 700;
}